<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      QR code
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" [fullscreen]="true">

  <ion-card class="page-description">
    <ion-card-content>
      Ce QR code peut être scanné par les commerçants partenaires pour vous offrir 15 minutes gratuites dans les parking
      et places de stationnement de Chaville
    </ion-card-content>
  </ion-card>

  <div class="qrcode-container">
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </div>

</ion-content>
